{% extends 'magasin/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Votre panier</h1>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td>{{ item.produit.libellé }}</td>
                        <td>{{ item.produit.prix }} DT.</td>
                        <td>
                            <form action="{% url 'update_cart' item.id %}" method="post">
                                {% csrf_token %}
                                <input type="number" name="quantity" value="{{ item.quantite }}" min="1">
                                <button type="submit">Mettre à jour</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'remove_from_cart' item.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h2>Total du panier: {{ total }} DT.</h2>
            <a href="{% url 'checkout' %}" class="btn btn-primary">Passer la commande</a>
        </div>
    </div>
</div>
{% endblock %}
